.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    padding: 20px;
}

.dialogsItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2px;
}

.dialogsItems.active {
    color: midnightblue;
}

.dialog{
    color: black;
}

.messages {
}

.message {
    color: black;
    margin-top: 2px;
    vertical-align: bottom;
}

.dialogsItems img {
    margin-right: 10px;
    height: 23.5px;
    border-radius: 20px;
    vertical-align: bottom;
}

.messages img {
    height: 40px;
    border-radius: 20px;
}