.sideBar {
    grid-area: n;
    padding: 20px;
    background-color: #88a2bc;
}

.nav {
    text-align: left;
}

.item a {
    color: #f0dbb0;
    text-decoration: none;
}

.item a.active {
    color: #253b59;
}

.friendsBlock {

}

.friendsBlock img {
    height: 40px;
    border-radius: 20px;
}

.friendsBlock p {
    text-align: left;
    color: #253b59;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1px;
}

.friendsBlockContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
}