.profileBlock {

}

.profileHeaderImage {
    display: flex;
    justify-content: center;
    background-color: black;
}

.profileHeaderImage img {
    height:300px;
}
.profileInfo {
    padding: 20px;
}

.avatar {
    height:120px;
    border-radius: 60px;
}

.description {

}